@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translate(0);
    }
}

.bounce {
    animation: bounce 1s;
}

.animation {
    display: block;
    animation: animate 0.5s ease-in-out;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
}

.hidden {
    opacity: 0;
}
